.boxes-card {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.box-card {
    display: flex;
    flex-direction: column;
    margin: 1em;
    padding: 0.5em;
    border-radius: 25px;
    min-width: 400px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
    background-color: #eeeeee;
}

.name-card {
    display:inline-block;
    width: 100%;
    text-align:center;
}

.misc-card {
    display:flex;
    flex-direction: row;
}

.box-card .image-card {
    border: solid 3px rgb(150, 150, 150);
    float:left;
    border-radius: 50%;
    height: 200px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4)
}

.bigblock-status {
    width : 75%;
    margin-right : 15px;
    display: flex;
    text-align: right;
    flex-direction: column;
}

.status-card {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 100%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
}

.status-text {
    display: inline-block;
    margin: 5px;
}

.alive-status {
    background: rgb(2, 187, 2);
}

.dead-status {
    background: rgb(172, 4, 4);
}

.unknown-status {
    background: rgb(255, 153, 0);
}